.product-button {
  justify-content: center;
  align-items: center;

  display: flex;
}

.product-quantity {
  color: rgb(9, 9, 9);
  font-size: 10px;
  margin: 6px 0;
}

.primary-button {
  background-color: rgb(8, 8, 8);
  border: 3px solid black;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
  padding: 4px;
  transition: all 0.1s ease-in;
  width: 30px;
}

.secundary-button {
  background-color: rgb(17, 18, 18);
  border: 3px solid black;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
  padding: 4px;
  transition: all 0.1s ease-in;
  width: 30px;
}
