.cart {
  background-color: rgba(5, 5, 5, 0.952);
  bottom: 0;
  position: fixed;
  width: 100vw;
}

.footer-info {
  color: #fff;
  font-size: 8px;
  margin: 6px 20px;
  display: flex;
  justify-content: center;
}
